/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

:root {
  --text-сolor: #fc584e;
  --text-hover-color: #c74933;
  --text-сolor-second: #000;
  --teacher-image-size: 150px;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

*,
*::before,
*::after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

#content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  padding: 40px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#map {
  height: 250px;
  width: 500px;
}

.divider {
  margin: 40px auto;
  width: 50%;
  height: 1px;
  background-color: var(--text-сolor-second);
}

/* Header */

header,
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#logo {
  display: inline;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  line-height: 62px;
  letter-spacing: 0.125em;
  text-shadow: 2px 0.6px 2px var(--text-сolor-second), -2px -0.6px 2px var(--text-сolor);
  color: #fff;
  transition: 150ms ease-in-out;
}

#logo:hover {
  text-shadow: 3px 0.6px 2px var(--text-сolor-second), -3px -0.6px 2px var(--text-сolor);
  cursor: pointer;
}

h2 {
  margin: 35px 0 35px;
  text-align: center;
  font-size: 2.3em;
  color: var(--text-сolor-second);
}

.header-row {
  float: left;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 25px;
  width: 100%;
}

/* Top Teahcers */

#filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 100%;
}

#filters .filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

#filters #region,
#filters #sex,
#filters #age {
  height: 100%;
  width: 100px;
  font-size: 1.05em;
}

#filters div:not(:first-child)::before {
  content: "";
  margin-right: 20px;
  border-left: 2px dotted var(--text-сolor-second);
  width: 0;
  height: 100%;
}

.teacher-list,
.teacher-grid {
  margin: 20px 0;
}

.teacher-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.teacher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
  margin: 0 20px 25px 20px;
  cursor: pointer;
  position: relative;
}

.teacher-list {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1000px;
  overflow-x: hidden;
}

.teacher-profile-image {
  margin: 0;
  padding: 0;
  width: var(--teacher-image-size);
  height: var(--teacher-image-size);
  line-height: 150px;
  text-align: center;
  color: var(--text-сolor);
  font-weight: bold;
  align-items: center;
  border: 4px solid var(--text-сolor);
  border-radius: 50%;
  overflow: hidden;
}

.teacher-card-photo,
.teacher-card-initials {
  margin: 0;
  width: var(--teacher-image-size);
  height: var(--teacher-image-size);
  line-height: 150px;
  text-align: center;
  font-size: 1.85em;
  transition: 150ms ease-in;
  border-radius: 50%;
}

.teacher-profile-image:hover {
  transition: 150ms ease-in-out;
  border-color: var(--text-hover-color);
}

.teacher-profile-image:hover .teacher-card-photo,
.teacher-profile-image:hover .teacher-card-initials {
  transition: 150ms ease-in-out;
  transform: scale(1.25);
  color: var(--text-hover-color);
}

.teacher-card .teacher-star {
  position: absolute;
  right: 0;
  top: 0;
}

.teacher-card p {
  margin: 5px;
}

.teacher-card .teacher-card-name {
  text-align: center;
  word-spacing: var(--teacher-image-size);
  font-size: 1.5em;
  font-weight: bold;
}

.teacher-card .teacher-card-speciality {
  text-align: center;
  font-size: 1.1em;
  color: #8783a2;
}

.teacher-card .teacher-card-country {
  text-align: center;
  font-size: 1em;
  color: var(--text-сolor-second);
}

/* Statictics */

#statistics {
  margin-bottom: 60px;
  width: 100%;
}

#statistics table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-collapse: collapse;
  width: 100%;
  font-size: 1em;
  text-align: center;
}

#statistics table th {
  height: 45px;
  font-size: 1.4em;
  border-bottom: 1px solid var(--text-сolor-second);
  font-weight: normal;
  cursor: pointer;
  padding: 5px 20px 5px, 10px;
  user-select: none;
}

#statistics table th .arrow-th {
  display: inline-block;
  visibility: hidden;
  color: #57a8b9;
}

#statistics table th:hover .arrow-th {
  transition: 150ms ease-in;
  visibility: visible;
}

#statistics table td {
  padding: 5px 10px;
}

#statistics table th:hover {
  border-bottom: 3px solid var(--text-сolor-second);
  background-color: #fafafa;
  transition: 150ms ease-in;
}

#statistics table th:first-child,
#statistics table td:first-child {
  text-align: start;
}

#statistics table tr:nth-child(even) {
  background-color: #faf5fb;
}

#statictics-table-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  max-width: 135px;
  padding: 10px;
  user-select: none;
}

#statictics-table-nav div {
  height: 100%;
  align-content: center;
}

#statictics-table-nav .table-page {
  color: #09bcd2;
  cursor: pointer;
}

#statictics-table-nav .table-page.active-page {
  color: #030220;
}

#statictics-table-nav .table-page:hover {
  color: #0d6267;
}

/* Favorites */
#favorites {
  position: relative;
}

.arrow {
  border: solid black;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  user-select: none;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#favorites .left {
  position: absolute;
  top: 50%;
  left: -40px;
}

#favorites .right {
  position: absolute;
  top: 50%;
  right: -40px;
}

/* Navigation */

ul {
  padding-inline-start: 0;
  list-style-type: none;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--text-сolor);
}

.navigation ul {
  display: flex;
}

.navigation li {
  margin-right: 40px;
}

.navigation a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
  font-size: 1.7em;
}

.navigation a:hover {
  color: var(--text-hover-color);
}

#search-block {
  float: right;
  align-items: center;
  min-width: 335px;
  height: 40px;
  padding: 10px 0;
}

#search-input {
  width: 220px;
  height: 37px;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  transition: 250ms ease-in;
}

#search-input:hover {
  width: 400px;
}

/* Buttons */

.main-btn {
  position: relative;
  border: 1px solid var(--text-сolor);
  color: var(--text-сolor);
  padding: 0;
  font-weight: 600;
  background-color: #fff;
  transition: all 175ms ease-in-out;
  cursor: pointer;
}

.main-btn:hover {
  background-color: var(--text-сolor);
  color: #fff;
}

.add-teacher-btn {
  width: 170px;
  height: 50px;
  font-size: 1.25em;
}

.search-btn {
  width: 95px;
  height: 40px;
  font-size: 1em;
}

.footer p {
  color: #29222a;
  font-size: 0.9em;
}

#about {
  margin-bottom: 20px;
}

.popup {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: none;
  position: fixed;
  left: 0%;
  top: 50%;
  padding: 0;
  transform: translate(0, -50%)
}

.popup-header {
  height: 65px;
  background-color: #47474f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-header .popup-close-btn {
  height: 100%;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
}

.popup-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.popup-header p {
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  line-height: 65px;
  margin-left: 15px;
  text-align: center;
  color: white;
}

.popup label {
  margin-top:  15px;
  margin-bottom: 10px;
  display: block;
  color: #7a7a7a;
}

.popup input,
.popup select {
  height: 25px;
  border: 1px solid black;
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.05em;
}

#name-input {
  width: 465px;
}

#speciality-input,
#notes-input {
  width: 465px;
  padding-left: 20px;
  margin-bottom: 40px;
}

#city-input,
#phone-input,
#email-input,
#date-of-birth-input {
  width: 205px;
}

#country-input {
  padding-left: 20px;
  width: 205px;
}

#date-of-birth-block {
  display: block;
  width: 100%;
  margin-left: 35px;
}

#sex-block {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 5px;
  margin-left: 40px;
  line-height: 35px;
  vertical-align: middle;
  margin-top: 25px;
  margin-bottom: 10px;
}

#sex-block span {
  color: #7a7a7a;
  margin-right: 25px;
}

#sex-block #sex-input-male {
  margin-right: 10px;
}

#sex-block label,
#sex-block input,
#background-color-block label,
#background-color-block input {
  padding: 0;
  margin: 0;
}

#background-color-block {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 35px;
  margin-left: 40px;
  line-height: 35px;
  vertical-align: middle;
}

.teacher-info-photo {
  width: 320px;
  height: 320px;
  margin-right: 40px;
}

.popup-add-teacher {
  width: 560px;
}

.popup-teacher-info {
  max-width: 910px;
}

.popup-teacher-info .popup-body {
  padding: 20px;
}

.popup-teacher-info .general {
  display: flex;
  width: 100%;
  flex-direction: row;
  color: #505050;
}

.popup-teacher-info .text-info {
  flex-grow: 1;
}

.popup-teacher-info .text-info p {
  margin: 0;
  padding: 0;
}

.popup-teacher-info .text-info .info-name {
  font-size: 2em;
  color: black;
}

.popup-teacher-info .text-info .info-speciality {
  font-size: 1.4em;
  color: black;
  margin-bottom: 25px;
  font-weight: bold;
}

.popup-teacher-info .text-info .info-email {
  color: #09bcd2;
  font-size: 1.05em;
  margin-bottom: 15px;
}

.popup-teacher-info .text-info .info-location,
.popup-teacher-info .text-info .info-age,
.popup-teacher-info .text-info .info-phone {
  color: #505050;
  font-size: 1.05em;
  margin-bottom: 15px;
}

.toggle-map {
  color: #09bcd2;
  font-size: 1.05em;
  text-decoration: underline dashed;
  width: 100%;
  cursor: pointer;
  margin: 0;
}

#filters label {
  font-size: 1.1em;
  color: #7a7a7a;
  padding: 8px;
}

.add-btn {
  width: 490px;
  margin: 0 0 30px 0;
  height: 50px;
  font-size: 1.25em;
}

.general-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px;
}

.favorite-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.charts p {
  text-align: center;
}

.chart {
  width: 350px;
}

@media only screen and (max-width: 768px) {
  #logo {
    display: block;
    font-size: 2em;
    float: none;
    text-align: center;
  }

  #content {
    padding: 10px;
  }

  #search-block {
    float: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #search-input:hover {
    width: 220px;
  }

  .navigation {
    flex-direction: column;
    font-size: 0.75em;
  }

  .divider {
    margin: 20px auto;
  }

  h2 {
    font-size: 1.5em;
  }

  #filters {
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }

  .teacher-list {
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
  }

  .teacher-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    margin: 0 auto;
  }

  #statistics table {
    font-size: 0.8em;
  }

  .arrow {
    display: none;
  }

  .popup-teacher-info .general {
    flex-direction: column;
  }

  .teacher-info-photo {
    margin-right: 0;
  }

  .add-teacher-btn {
    margin-top: 20px;
  }
}
